<td valign="top" align="center" style="text-align:center">
<h1> Просмотр записи </h1>
<center />
<table width="400" cellpadding="2" cellspacing="2" border="0">
<form action="@<<action>>@" method="post" name="abook">
<tr><td width="200" class="cmes" align="right">
Имя </td><td align="left" class="ab">@<<cab_name>>@</td></tr>
<tr>
<td width="200" class="cmes" align="right">
Email </td><td class="ab">@<<cab_email>>@</td></tr>

<tr><td width="200" class="cmes" align="right" valign="top">Ник</td>
<td class="ab">@<<cab_nick>>@</td></tr>

<tr><td width="200" class="cmes" align="right" valign="top">Домашний телефон</td>
<td class="ab">@<<cab_dtl>>@</td></tr>

<tr><td width="200" class="cmes" align="right" valign="top">Рабочий телефон</td>
<td class="ab">@<<cab_rtl>>@</td></tr>

<tr><td width="200" class="cmes" align="right" valign="top">Мобильный телефон</td>
<td class="ab">@<<cab_mtl>>@</td></tr>



<tr><td width="200" class="cmes" align="right" valign="top">Рабочий адрес</td>
<td class="ab">@<<cab_radr>>@</td></tr>

<tr><td width="200" class="cmes" align="right" valign="top">Домашниий адрес</td>
<td class="ab">@<<cab_dadr>>@</td></tr>

<tr><td width="200" class="cmes" align="right" valign="top">Комментарий</td>
<td class="ab">@<<cab_comm>>@</td></tr>

</table>



</td>
