<td align="center" valign="top">
<table width="100%" cellpadding="2" cellspacing="4" border="0">
<tr valign="top"><td align="center" valign="top">
<h1>Адресная книга</h1>
<img src="/images/new.png">&nbsp;<a href="@<<abook_add>>@">Добавить</a>&nbsp;
<img src="/images/search.png">&nbsp;<a href="@<<abook_search>>@">Поиск</a>&nbsp;
<img src="/images/delete.png">&nbsp;<a href="#" onclick="go_ab_ahead(9)">Удалить</a>&nbsp;
</form>
</td></tr>
<tr><td>
 <form name="abook_f" method="post" action="@<<action>>@">
 <input type="hidden" name="todo">
 <table width="100%" border="0" cellpadding="0" cellspacing="0" class="msgs">
 <th class="ff" height="28">
 <input type="checkbox" onclick="javascript:select_all('abook_f')"></th>

 <th class="s">@<<url0>>@</th>
 <th class="fl">@<<url1>>@</th>

  @<<abook_list>>@


 <tr><td colspan="9" align="center" class="sp">
 @<<sumpagess>>@
 <br />
 </td></tr>


 </table>
 </form>
</td></tr>
</table>
</td>
