<td width="100%" align="center">
<form name="msg" action="@<<action>>@" method="post">
<h1> Создание папки </h1>

<p class="stn">
Папка будет содана в текущей папке <img src="/images/folder_open.png">  <strong>@<<folder>>@</strong>
</p>

<form action="@<<action>>@">

<input type="text" name="f_create" size="32">
<input type="hidden" name="todo" value="3">
<input type="submit" class="button" value="Создать">

</form>


<br />
<br />


</form>


</td>

