</tr>
<tr height="86px" valign="bottom"><td colspan="4"><table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td rowspan="2" valign="bottom"><img src="/images/b4.jpg" /></td>
<td width="100%" style="width: 100%; background: white; height: 9px"></td>
<td rowspan="2" valign="bottom" ><img src="/images/b3.jpg" /></td></tr>
<tr height="77px"><td width="100%" class="foot">

ЗАО "ЭЛЕКТРОСВЯЗЬ" <a href="mailto:info@host.euroset.ru">info@host.euroset.ru</a> (c) 2009
</td></tr>
</table>


</td>
</tr>
</table>
</body>
</html>
