<td width="200px" valign="top" class="lfolders">
   <div id="ttdiv" style="">&nbsp;</div>
	<script language="javascript">
	var M = new Menu();
        @<<folders>>@
        M.show_all(M.root,0)
	</script>
<br />
</td>
