<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link href="/wm.css" rel="stylesheet" type="text/css" />
<link href="/images/favicon.ico" rel="SHORTCUT ICON" />
<script language="javascript" src="script.js"></script>
<title>Вход в почтовую систему Wmail</title>
</head>
<center>
<body style='margin:0px; padding: 0px'>

<table cellpadding="0" cellspacing="0" width="100%"  border="0">
 <tr><td class="bglogin2" height="60">
	<img src="/images/eh.jpg" />
 </td></tr>
 @<<err_mes>>@
 <tr><td height="160px">&nbsp;</td></tr>
 <tr><td align="center" width="100%">
	<table width="300" cellpadding="0" cellspacing="0" border="0" align="center" class="bglogin">
	<tr><td><img src="/images/e0.jpg" style=/></td><td width="100%">&nbsp;</td><td align="right"><img src="/images/e1.jpg" /></td></tr>
	<tr><td colspan="3">
		<table width=100% cellpadding="0" cellspacing="0" border="0">
	<form name="login" action="@<<action>>@" method="post" />
	<tr><td align="right" class="ll"><strong>E-mail:</strong></td><td align="left" class="ll"><input name="email" type="text" maxlength="120" size="28" class="vl" /></td></tr>
	<tr><td align="right" class="ll"><strong>Пароль:</strong></td><td align="left" class="ll"><input name="password" type="password" maxlength="20" size="28" class="vl" /></td></tr>
	<tr><td colspan="2" align="center">
		<input type="hidden" name="page" value="@<<x_page>>@" />
		<input type="submit" value="Вход" class="button">
		</table>

	</td></tr>
	<tr><td><img src="/images/e2.jpg" style=/></td><td width="100%">&nbsp;</td><td align="right"><img src="/images/e3.jpg"></td></tr>
	</td></tr>
	</form>
	</table>

 </td></tr>
</table>
</body>
</html>

<!--

#FFD80E;
#7A7A7A;
#fafafe;
#605d4c;
#FFD602;

-->
